<p id="notice"><%= notice %></p>

<p>
  <strong>Param1:</strong>
  <%= @user_story.param1 %>
</p>

<p>
  <strong>Param2:</strong>
  <%= @user_story.param2 %>
</p>

<p>
  <strong>Param3:</strong>
  <%= @user_story.param3 %>
</p>

<p>
  <strong>References:</strong>
  <%= @user_story.references %>
</p>

<%= link_to 'Edit', edit_user_story_path(@user_story) %> |
<%= link_to 'Back', user_stories_path %>
