<div class="container"></div>
  <div class="row"></div>
    <div class="well well-lg">
      <h2 class="project_title">Project: <%= @project.title %></h2>
      <p class="project_sub_title">Description: <%= @project.description%></p>
    </div>
    <div class="container">
      <table class="table table-bordered table-striped" id="sortable">
        <thead>
          <tr>
            <th>
              User Stories <small>[Refresh page if drag & drop is non-functional]</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @project.user_stories.each do |user_story| %>
            <tr data-item-id=<%= "#{user_story.id}" %> class="item">
              <td>
                <span>As a...</span><%= user_story.param1 %>
                <span>I want...</span><%= user_story.param2 %>
                <span>so that I...</span><%= user_story.param3 %>
                <%= link_to 'Edit User Story', edit_project_user_story_path(@project, user_story.id),
                  class: "btn btn-primary" %>
                <%= link_to 'Delete', project_user_story_path(@project, user_story.id), 
                  :method => 'delete', data: { confirm: "Are you sure" }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'BACK', projects_path, class: "btn btn-info" %>
      <%= link_to 'NEW USER STORY', new_project_user_story_path(@project.id), class: "btn btn-success" %>
    </div>
    
    
  </div>
</div>